#hs-name{
    text-align: center;
    font-size: 300%;
    border-bottom: solid black 1px;
    width: 55%;
    margin: 0 auto;
    color: Green;
}

#navigation {
    list-style-type: none;
    text-align: center;
    font-size: 125%;
    border-style: solid;
    border-width: thin;
    width: 700px;
    margin: 0 auto;
}

#navigation li {
    display: inline-block;
    margin-right: 35px;
}

#eagle {
    position: absolute;
    top: 1%;
    left: 4%;
    width: 13%;
}

#search {
    position: absolute;
    right: 22.8%;
    width: 9%;
    top: 13.1%;
    height: 2.5%;
}

#main-pictures {
    border-style: solid;
    border-width: thin;
    margin: 0 auto;
    margin-top: 3.1%;
    width: 50%;
    height: 300px;
}

#column {
    width: 57%;
    height: 400px;
    border-style: solid;
    margin: 0 auto;
    margin-top: 1%;
}

#announcements {
    font-weight: bold;
    border-top : solid red thin;
    padding: .8%;
    padding-left: .5%;
    color: Blue;
    width: 20%;
    position: absolute;
    left: 22%;
    font-size: 115%;
    margin-top: 2%;
}

#news {
    font-weight: bold;
    border-top : solid red thin;
    padding-top: .8%;
    padding-left: .5%;
    color: Blue;
    width: 20%;
    position: absolute;
    right: 22%;
    font-size: 115%;
    margin-top: 2%;
}